.game-page {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: minmax(17rem, auto);
  max-width: 78.125rem;
  margin: 0 auto;

  .body-game {
    margin-top: 3rem;
    margin-bottom: 3rem;
    grid-column: 2 / 4;
    grid-row: 1;

  }

  .left-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 17rem;
    height: 100vh;
    z-index: 999;
  }
}
