.game-page {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: minmax(17rem, auto);

  .body-game {
    margin-top: 3rem;
    margin-bottom: 3rem;
    grid-column: 2 / 4;
    grid-row: 1;

  }

  .left-panel {
    grid-column: 1;
    grid-row: 1;
  }
}
