$default-button-size: 4rem;
$default-font-size: 1.5rem;

.button {
  font-size: var(--font-size, $default-font-size);
  padding: var(--button-size, $default-button-size);
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;

  &:disabled {
    background-color: #ccc;
    color: #888;
    cursor: not-allowed;
  }

  .button-icon {
    margin-right: 1rem;
  }
}

.button-primary {
  background-color: #007acc;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button-primary:not(:disabled):hover {
  background-color: #005fa3;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-secondary {
  background-color: #666;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button-secondary:not(:disabled):hover {
  background-color: #444;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.warning-button {
  font-size: var(--font-size, $default-font-size);
  padding: var(--button-size, $default-button-size);
  background-color: #ff9800;
  color: #fff;
  border: none;
  cursor: pointer;

  &:not(:disabled):hover {
    background-color: #e68a00;
  }
}
